<%= form_for(@wallpaper) do |f| %>
  <% if @wallpaper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wallpaper.errors.count, "error") %> prohibited this wallpaper from being saved:</h2>

      <ul>
      <% @wallpaper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4 id='name'><%= f.label :name %><br></h4>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <h4 id='name'><%= f.label :description %><br></h4>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <h4 id='name'><%= f.label :picture %><br></h4>
    <h4 id='name'><%= f.file_field :picture %>
  </div>
  <div class="actions">
    <h4 id='name'><%= f.submit %>
  </div>
<% end %>
