<div class="row">
  <div class="col-md-9">
    <%= image_tag(@wallpaper.picture_url, width: '100%') if @wallpaper.picture.present? %>
  </div>

  <div class="col-md-3">
    <h4 id='name'><b>Name: </b><%= @wallpaper.name %></h4>
    <h4 id='name'><b>Description: </b><%= @wallpaper.description %></h4>
    <p>
      <%= link_to 'Edit', edit_wallpaper_path(@wallpaper) %> |
      <%= link_to 'Destroy', @wallpaper, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', wallpapers_path %>
    </p>
  </div>
</div>

<div class='col-md-5'>
<h4 id='name'>Add a comment:</h4>
<%= form_for([@wallpaper, @wallpaper.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
<div class='col-md-6'>
 <h4 id='name'>Comments</h4>
<% @wallpaper.comments.each do |comment| if comment.present? %>
  <p>
    <!-- <strong>Commenter:</strong> -->
    <%= comment.commenter %>
  </p>

  <p>
    <!-- <strong>Comment:</strong> -->
    <%= comment.body %>
  </p>

  <p>
    <%= link_to 'Destroy Comment', [comment.wallpaper, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>
</div>
