<!DOCTYPE html>
<html>
<head>
  <title>Photobomb2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fa fa-rebel fa-1x fa-fw"></i>  Star Wars Wallpapers</a>
      </div>
        <nav class='navbar-collapse'>
        <ul class="nav navbar-nav">
          <li class=""><a href="/wallpapers">Top Wallpapers</a></li>
          <li class=''><%= link_to 'Add Wallpaper', new_wallpaper_path %></li>
        </ul>
        <p class='navbar-text pull-right'>
          <% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %></p>

      </div>
    </div>
  </nav>

<div class='container main'>
  <% if notice %>
    <p class='alert alert-success'><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class='alert alert-danger'><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
<footer class='footer-default'>
<div class='container'>
</div>
</footer>

</body>
</html>
